@import "/src/utils/_variables";

.dropdown {
  position: relative;
  display: inline-block;
  height: fit-content;
  padding: 8px 0;
  cursor: pointer;

  &:hover &__content {
    display: block;
  }

  &__content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 999;
    padding-top: 12px;

    box-shadow: 0px 2px 6px rgba(13, 13, 13, 0.14);
    border-radius: 4px;
    background: $white;
    padding: 0;
    width: 184px;
    margin-top: 8px;

    &__item {
      cursor: pointer;
      display: flex;
      justify-content: center;

      padding: 16px 0;

      border-top: 1px solid $athens-gray;

      &:first-child {
        border-top: 1px solid transparent;
      }

      &:hover {
        background: $white;
        .text {
          color: $primary;
        }
      }
    }
  }
}
