@import "/src/utils/_variables";

.card-course {
  background: $white;
  border-radius: 8px;
  box-shadow: 0 10px 40px rgba(5, 6, 24, 0.05);

  display: flex;
  flex-direction: column;

  transition: 0.25s ease-out;

  &:hover {
    transform: translate(0, -16px);
    cursor: pointer;
  }

  &__thumb {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  &__level {
    display: flex;
    align-items: center;

    padding: 12px 24px;
    border-bottom: 1px solid $athens-gray;
  }

  &__caption {
    padding: 24px;

    &__description {
      margin: 16px 0;
      @include truncate-multi-lines(3);
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px 24px;

    &__learn-more {
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $black;
        cursor: pointer;
      }
    }
  }
}
