$primary: #000000;
$black: #000000;
$white: #ffffff;

$titan-white: #f2f0ff;

$medium-purple: rgb(155, 81, 224);
// gray
$santas-gray: #a0a1b1;
$secondary: #898a9d;
$athens-gray: #e6e9f0;

$error: #d91b1b;

@mixin truncate-a-line {
  flex: 1;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin truncate-multi-lines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
