@import "/src/utils/_variables";

.player-icon {
  position: relative;
  display: inline-block;

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.course-player {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $black;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99;

  &__container {
    width: 100%;
    max-height: 72vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    &__close {
      position: absolute;
      right: 0;
      top: -9%;
      z-index: 9;
      cursor: pointer;
      color: $white;
    }
  }
}
