@import "/src/utils/_variables";

.level {
  max-width: 992px;
  margin: 120px auto 0;

  &__item {
    margin-top: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 16px;

    &__left {
    }

    &__right {
      &__title {
        margin-bottom: 12px;
      }
    }
  }
}
