@import "/src/utils/_variables";

.cart-icon {
  position: relative;
  cursor: pointer;

  &__qty {
    position: absolute;
    right: -14px;
    top: -12px;
    width: 24px;
    height: 24px;

    background-color: $primary;
    color: $white;

    z-index: 0;

    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
