@import "/src/utils/_variables";

.navigation-menu {
  background-color: $black;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 99;

  animation-duration: 0.3s;
  animation-name: open-animation;
  animation-fill-mode: forwards;

  &--close {
    animation-name: close-animation;
    animation-delay: 0.3s;
  }

  &__title {
    height: 84px;
    &__icon {
      cursor: pointer;
      &:active {
        transition-duration: 0.2s;
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    padding: 0 16px;

    &__item {
      padding: 16px 0;
      border-bottom: 1px solid grey;
      color: $white;
      &--activate {
        color: $primary;
      }
    }
  }
}

@keyframes open-animation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes close-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
