@import "/src/utils/_variables";

.header {
  position: fixed;
  left: 0;
  top: 0;

  width: calc(100% - 16px * 2);
  padding: 12px;

  background-color: $white;
  box-shadow: 0 10px 20px rgba(18, 21, 58, 0.3);

  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 9;

  &__logo {
    cursor: pointer;
  }

  &__breadcrumb {
    flex: 1;

    display: none;
    align-items: center;
    justify-content: center;

    list-style-type: none;
    padding: 0;
    &__item {
      padding: 12px;
      &__text {
        color: $primary;
        border-bottom: 2px solid transparent;
        &--activate {
          border-bottom: 2px solid $primary;
          
        }
        &:hover {
          border-bottom: 2px solid $primary;
        }
      }
    }
    @media (min-width: 769px) {
      display: flex;
    }
  }

  &__right {
    min-width: 164px;
    display: flex;
    align-items: center;
    justify-content: end;

    grid-gap: 16px;

    &__navigate-icon {
      margin-left: 16px;
      display: block;
      @media (min-width: 769px) {
        display: none;
      }
    }
  }
}
