@import "/src/utils/_variables";

.section-info {
  padding-top: 120px;
  padding-bottom: 120px;

  background: #18306b;
  border: 1px solid;

  &__container {
    max-width: 595px;
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: 993px) {
      max-width: 1200px;
      display: flex;
      grid-gap: 32px;
    }

    &__preview {
      width: 100%;
      margin: 0 auto;

      box-shadow: 0 10px 20px rgba(18, 21, 58, 0.3);

      &__thumb {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;

        &__img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }

      &__content {
        padding: 32px 32px 32px 52px;
        background-color: $white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        display: flex;
        flex-direction: column;
        grid-gap: 6px;

        &__item {
          display: flex;
          align-items: center;
          grid-gap: 6px;
        }
      }
    }

    &__content {
      margin-top: 32px;

      &__description {
        margin-top: 24px;
        margin-bottom: 32px;
      }
      &__details {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        grid-gap: 16px;

        &__block {
          padding: 18px 20px 14px;
          border-radius: 4px;
          border: 1px solid $white;
          flex: 1;
          min-width: 0;

          display: flex;
          flex-direction: column;
          grid-gap: 4px;
        }
      }

      &__action {
        display: flex;
        flex-direction: column;
        grid-gap: 16px;
        @media (min-width: 993px) {
          flex-direction: row;
          align-items: center;
        }
        &__cta {
          display: flex;
          align-items: center;
          justify-content: center;
          grid-gap: 16px;
        }
      }
    }
  }
}
