@import "/src/utils/_variables";

.layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  &__header {
    height: 64px;
    position: relative;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  &__footer {
  }
}
