@import "/src/utils/_variables";

.button {
  padding: 12px 36px;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: 8px;
  cursor: pointer;

  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Inter";
  font-size: 14px;
  line-height: 18px;
  color: $white;
  min-width: 148px;
  grid-gap: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $white;
    color: black;
  }

  &--white {
    background-color: $white;
    color: $black;
    &:hover {
      background-color: transparent;
      color: $white;
      svg {
        color: white;
      }
    }
  }

  &--primary {
    background-color: $primary;
    color: $white;

    &:hover {
      color: $black;
      background-color: $primary;
      box-shadow: 0 5px 30px rgba(18, 21, 58, 0.2);
    }
  }

  &--momo {
    background-color: rgb(216 45 139 / 1);
    color: $white;
    &:hover {
      background-color: rgb(193 23 124 / 1);
      color: $white;
    }
  }

  &--vn-pay {
    background: linear-gradient(46.26deg, #005baa, #009edb 96.59%);
    color: $white;
    &:hover {
      background: linear-gradient(46.26deg, #009edb, #005baa 96.59%);
      color: $white;
    }
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--loading {
    pointer-events: none;
    opacity: 0.3;
  }

  &--block {
    width: 100%;
  }
}
