@import "/src/utils/_variables";

.reset-password {
  background-color: $medium-purple;
  flex: 1;

  padding-top: 92px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__error-message {
      min-height: 22px;
      margin-top: 24px;
    }
  }
}
